<mat-sidenav-container>
    <mat-sidenav #sidenav>
        <span>This is the sidenav</span>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar color="primary">L
            <div><button (click)="sidenav.toggle()">Toggle</button></div>
            <div>LOGO</div>
            <div>
                <a routerLink="/signup">SIGN UP</a>
                <a routerLink="/login">LOGIN</a>
                <a routerLink="/training">TRAINING</a>
            </div>
        </mat-toolbar>
        <main>
            <router-outlet></router-outlet>
        </main>
    </mat-sidenav-content>
</mat-sidenav-container>
